<link rel="stylesheet" href="/src/css/pages/gallery.css">
<script src="/src/js/views/pages/gallery.js"></script>



<br>
<br>
<br>
<br>
<br>
{{!-- {{>cats}} --}}
{{!-- {{>multiImgCarouselModal (object name="steve" age=40 array_example=(array true 2 "3"))}} --}}
{{!-- {{> multiImgCarouselModal}} --}}



{{!-- <p>{{carouselItemObjss}}</p> --}}

<div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3">Gallery</h1>
        </div>
    </div>
</div>
<div class="container">
    <div id="galleryHolder"></div>
    <script id="galleryHolder-template" type="text/x-handlebars-template">
        \{{#each galleryObjs}}
                <div class="row">
                    \{{#each p}}
                    <div class="col-xl-4 col-md-6 col-sm-1 col-xs-6 mb-4">
                        <div class="card border-0 shadow pop">
                            <img src="\{{img}}"
                                class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">\{{txtHeader}}</h5>
                                <div class="card-text text-black-50">\{{txtContent}}</div>
                            </div>
                        </div>
                    </div>
                 \{{/each}}
                </div>
        \{{/each}}
    </script>
</div>



{{!-- <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3">Landscape sketch</h1>
            <p class="lead mb-0">添加文字</p>
        </div>
    </div>
</div>
<div class="container">
    <div id="landscapeSketchHolder"></div>
    <script id="landscapeSketchHolder-template" type="text/x-handlebars-template">
        \{{#each landscapeSketchObjs}}
                <div class="row">
                    \{{#each p}}
                    <!-- Team Member 1 -->
                    <div class="col-xl-4 col-md-6 col-sm-1 col-xs-6 mb-4">
                        <div class="card border-0 shadow pop">
                            <img src="\{{img}}"
                                class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">\{{txtHeader}}</h5>
                                <div class="card-text text-black-50">\{{txtContent}}</div>
                            </div>
                        </div>
                    </div>
                 \{{/each}}
                </div>
        \{{/each}}
    </script>
</div>

<div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3">Architectural beauty</h1>
            <p class="lead mb-0">添加文字</p>
        </div>
    </div>
</div>
<div class="container">
    <div id="architecturalBeautyHolder"></div>
    <script id="architecturalBeautyHolder-template" type="text/x-handlebars-template">
        \{{#each architecturalBeautyObjs}}
                <div class="row">
                    \{{#each p}}
                    <!-- Team Member 1 -->
                    <div class="col-xl-4 col-md-6 col-sm-1 col-xs-6 mb-4">
                        <div class="card border-0 shadow pop">
                            <img src="\{{img}}"
                                class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">\{{txtHeader}}</h5>
                                <div class="card-text text-black-50">\{{txtContent}}</div>
                            </div>
                        </div>
                    </div>
                 \{{/each}}
                </div>
        \{{/each}}
    </script>
</div>

<div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3">Interior design</h1>
            <p class="lead mb-0">添加文字</p>
        </div>
    </div>
</div>
<div class="container">
    <div id="interiorDesignHolder"></div>
    <script id="interiorDesignHolder-template" type="text/x-handlebars-template">
        \{{#each interiorDesignObjs}}
                <div class="row">
                    \{{#each p}}
                    <!-- Team Member 1 -->
                    <div class="col-xl-4 col-md-6 col-sm-1 col-xs-6 mb-4">
                        <div class="card border-0 shadow pop">
                            <img src="\{{img}}"
                                class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">\{{txtHeader}}</h5>
                                <div class="card-text text-black-50">\{{txtContent}}</div>
                            </div>
                        </div>
                    </div>
                 \{{/each}}
                </div>
        \{{/each}}
    </script>
</div>

<div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3">Lifestyle</h1>
            <p class="lead mb-0">添加文字</p>
        </div>
    </div>
</div>
<div class="container">
    <div id="lifestyleHolder"></div>
    <script id="lifestyleHolder-template" type="text/x-handlebars-template">
        \{{#each lifestyleObjs}}
                <div class="row">
                    \{{#each p}}
                    <!-- Team Member 1 -->
                    <div class="col-xl-4 col-md-6 col-sm-1 col-xs-6 mb-4">
                        <div class="card border-0 shadow pop">
                            <img src="\{{img}}"
                                class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">\{{txtHeader}}</h5>
                                <div class="card-text text-black-50">\{{txtContent}}</div>
                            </div>
                        </div>
                    </div>
                 \{{/each}}
                </div>
        \{{/each}}
    </script>
</div> --}}
{{>imgPopModal}}