<link rel="stylesheet" href="/src/css/pages/videoPortfolio.css">
<script src="/src/js/views/pages/videoPortfolio.js"></script>


<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div id="videosHolder"></div>
    <script id="videosHolder-template" type="text/x-handlebars-template">
        \{{#each videosObjs}}
                <h3>\{{videoCatTitle}}</h3>
                <div class="row">
                    \{{#each p}}
                    <div class="col-xl-4 col-md-4 col-sm-4 col-xs-4 mb-4">
                        <div class="card border-0 shadow">
                            <div style="background-image:url(\{{bckground}});background-repeat:no-repeat;background-position:0px 1px;background-size: 350px;" 
                                 class="videos overlay embed-responsive embed-responsive-350by619">
                                <video playsinline muted loop>
                                    <source src="\{{video}}" type="video/mp4">
                                </video>
                                <div>
                                    <button type="button" class="soundButton btn btn-primary btn-lg btn-block"><i class="soundToggle fa fa-volume-off"></i></button>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">\{{txtHeader}}</h5>
                                <div class="card-text text-black-50">\{{txtContent}}</div>
                            </div>
                        </div>
                    </div>
                 \{{/each}}
                </div>
        \{{/each}}
    </script>
    {{!-- <h3>玩</h3>
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="overlay embed-responsive embed-responsive-16by9">
                    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="overlay embed-responsive embed-responsive-16by9">
                    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="overlay embed-responsive embed-responsive-16by9">
                    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="overlay embed-responsive embed-responsive-16by9">
                    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
    </div> --}}
</div>

{{!-- <div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Latest News</h4>
            <ul class="timeline">
                <li>
                    <a target="_blank" href="/newsDetails">New Web Design</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi
                        semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in
                        sodales vehicula....</p>
                </li>
                <li>
                    <a target="_blank" href="/newsDetails">21 000 Job Seekers</a>
                    <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae
                        justo accumsan, sed semper nisi sollicitudin...</p>
                </li>
                <li>
                    <a target="_blank" href="/newsDetails">Awesome Employers</a>
                    <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc
                        vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
                </li>
            </ul>
        </div>
    </div>
</div> --}}